<ion-card>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <img alt="Article image"
      src="https://img.etimg.com/thumb/msid-58824890,width-640,resizemode-4,imgsize-223158/deal-confirmed.jpg" />
  </ion-row>


  <ion-card-header>
    <ion-card-title>Sattilite</ion-card-title>
    <ion-card-subtitle>
      {{"In the context of spaceflight, a satellite is an object that has been intentionally placed into orbit. These objects are called artificial satellites to distinguish them from natural satellites such as Earth's Moon." | truncate:150}}
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-icon name="person-sharp" slot="start"></ion-icon>
      <ion-label>Akilesh</ion-label>
      <ion-button color="art" fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
