<ion-card>
  <img alt="Article image"
       src="https://img.etimg.com/thumb/msid-58824890,width-640,resizemode-4,imgsize-223158/deal-confirmed.jpg"/>
  <ion-card-header>
    <ion-item>
      <ion-icon name="person-sharp" slot="start"></ion-icon>
      <ion-title>Title</ion-title>
    </ion-item>
    <ion-card-subtitle>
      Discription
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin
    Territory in 1836. The city was named after the author of the novel TheWisconsinRiver.
  </ion-card-content>
  <ion-item>
    <ion-button color="art" fill="outline" slot="end">View</ion-button>
  </ion-item>
</ion-card>